html {
	width: 960px;
}
header {
	display: flex;
	width: 99%;
	align-items: center;
	justify-content: space-between;
}
h1 {
	background-color: lightgrey;
	border: 1px solid darkgrey;
	margin: 5px;
	width: 200px;
	height: 100px;
	font-weight: lighter;
	
}

a {
	background-color: lightgrey;
	border: 1px solid darkgrey;
	margin: 5px;
	padding: 10px 50px;
	height: 50px;
	width: 150px;
	text-decoration: none;
}
main {
	background-color: lightgrey;
	border: 1px solid darkgrey;
	margin: 10px;
	height: 300px;
}
div {
	display: flex;
}
p {
	background-color: lightgrey;
	border: 1px solid darkgrey;
	margin: 10px;
	height: 150px;
	width: 33%;
}
footer {
	background-color: lightgrey;
	border: 1px solid darkgrey;
	margin: 10px;
	height: 100px;
}